/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */

header {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

@media (min-width: 800px) {
    .collage {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        justify-content: center;
    }
}

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */